.page {
    width: 100%;
    position: relative;
}

.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.addProduct {
    position: absolute;
    bottom: 0;
    right: 0;
}